# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# Virtual environments
venv/
env/

# Environment variables
# .env
.env.local

# Editor/IDE
.idea/
.vscode/

# OS
.DS_Store

# ssl certificates
ssl/
*.pem
*.key
